html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header.primary{
  margin:auto;
  background-color:#4B3857;
  font-family: 'Sigmar One', cursive;
  text-align:center;
  text-decoration: underline none;
}
header.primary ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
 header.primary ul{
    flex-direction: column;
    max-width: 70vw;
    margin:auto;
  }
header.primary li{
    margin-bottom:10px; 
  }
header.primary li{
  list-style-type: none;
}
header.primary ul{
    flex-direction: column;
    max-width: 70vw;
    margin:auto;
  }
#banner. primary li{
  background-color: #230E30;
}
#header. primary{
    background-color:#4B3857;
    text-align:center;
    color:#5E1742;
}
#content h1{
  text-align: center;
    font-family: 'Mulish', sans-serif;
}
#content p{
  color: #812F33
  font-family: 'Mulish', sans-serif;
  text-align: center;
  margin:auto;
}
body{
  background-color: #705E78;
}

